td{
    padding: 15px;
    text-align: center;
    font-weight: 600;
}
.part2{
    border-radius: 5px;
    width: 25%;
}
.part1{
    background-color: rgb(220, 220, 233);
    height: 230px;
}
.hd{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;

}